.Banner {
  display: flex;
  width: 70%;
  margin: 7px auto 80px auto;
}

.Banner h2 {
  font-family: serif;
  font-size: 45px;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 2px;
}

.Banner p {
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
  line-height: 150%;
}

.banner-left {
  margin: 0 20px 0 0;
  width: 50%;
}

.banner-right {
  background-image: url(../public/tinyeggs.png);
  background-size: cover;
  background-position: 10% 60%;
  width: 50%;
}

.button-holder {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1250px) {
  .Banner {
    flex-direction: column-reverse;
  }

  .banner-right {
    height: 300px;
    width: 100%;
  }

  .banner-left {
    width: 100%;
  }
}
